/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Resetting default styling and setting font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: #626cd6;
    justify-content: center;
    align-items: center;
}
/* Login form styling */
.login_form {
    width: 100%;
    max-width: 500px;
    
    background: #fff;
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.login_form h3 {
    font-size: 20px;
    text-align: center;
}


/* Input field styling */
form .input_box input {
    width: 100%;
    height: 57px;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    outline: none;
    background: #F8F8FB;
    font-size: 17px;
    padding: 0px 20px;
    margin-bottom: 40px;
    transition: 0.2s ease;
}
form .input_box input:focus {
    border-color: #626cd6;
}
form .input_box .password_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
form .input_box {
    position: relative;
}
a {
    text-decoration: none;
    color: #626cd6;
    font-weight: 500;
}
a:hover {
    text-decoration: underline;
}
/* Login button styling */
form button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #626CD6;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;
}
form button:hover {
    background: #4954d0;
}


.input_box input[type="checkbox"] {
    accent-color: #626cd6; /* Modern browsers */
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0;
    border-radius: 4px;
    border: 1.5px solid #626cd6;
}

.input_box label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

/*hover effect*/
.input_box input[type="checkbox"]:hover {
    box-shadow: 0 0 0 2px #dadaf2;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0; width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: #fff;
  padding: 30px 20px;
  border-radius: 8px;
  text-align: center;
  min-width: 250px;
  max-width: 90vw;
}
.modal-content button {
  margin: 10px 8px 0 8px;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  background: #2980b9;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.modal-content button#modalNoBtn {
  background: #e74c3c;
}
.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: -18px;
  margin-bottom: 10px;
  min-height: 18px;
}
