body {
  font-family: "Montserrat", sans-serif;
  background: #626cd6;
  padding: 20px;
  color: #333;
}

h2 {
  text-align: center;
  color: white;
}

.controls {
  text-align: center;
  margin-bottom: 20px;
}

.controls button {
  padding: 10px 20px;
  background: #e74c3c;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}



.delete-btn {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.logout-btn {
  background-color: white;
  color: #2980b9;
  font-weight: bold;
  border: solid 1px #2980b9;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  right: 10px;
  position: absolute;
}

#userTableContainer {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto 20px auto;
  max-width: 900px;
}

#userTable {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

#userTable th, #userTable td {
  padding: 12px 8px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

#userTable th {
  background: #2980b9;
  color: #fff;
}

#userTable tr:last-child td {
  border-bottom: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0; width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: #fff;
  padding: 30px 20px;
  border-radius: 8px;
  text-align: center;
  min-width: 250px;
  max-width: 90vw;
}
.modal-content button {
  margin: 10px 8px 0 8px;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  background: #2980b9;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.modal-content button#modalNoBtn {
  background: #e74c3c;
}

@media (max-width: 600px) {
  .user-card {
    padding: 15px;
  }
}
